<div class="box">
  <div class="box-up">
    <div class="up">
      <button class="up"></button>
    </div>
    <div class="middle clearfix">
      <div class="fl left-a">
        <button class="left"></button>
      </div>
      <div class="fl middle-a">
        <button class="plus"></button>
      </div>
      <div class="fl right-a">
        <button class="right"></button>
      </div>
    </div>
    <div class="down">
      <button class="down"></button>
    </div>
  </div>

   <div>
     <video id="video" src="http://127.0.0.1:8081" autoplay="autoplay" />

     </div>
</div>
<script>
  $(function() {
    var up = $('.up'),
        plus = $('.plus'),
        down = $('.down'),
        left = $('.left'),
        right = $('.right');
    function controller(url) {
      $.ajax({
        type: 'get',
        url: url,
        success: function() {

        },
        error: function() {
          alert("error!");
        }
      })
    }
    function handleEvent(els,urls,stop_url) {
      [].map.call(els, function(item, index) {
        item.on('mousedown', function() {
          controller(urls[index])
          return false;
        }).on('mouseup', function() {
          controller(stop_url);
          return false;
        })
      })
    }
    handleEvent([up,down,left, right,plus],["/auto_car/move","/auto_car/back","/auto_car/left","/auto_car/right","/auto_car/speed",],"/auto_car/stop")

  })
</script>

</body>