<div class="box">
    <div class="box-up">
        <div class="up">
            <a href="" class="up"></a>
        </div>
        <div class="middle clearfix">
            <div class="fl left-a">
                <a href="" class="left"></a>
            </div>
            <div class="fl middle-a">
                <a href="" class="plus"></a>
            </div>
            <div class="fl right-a">
                <a href="" class="right"></a>
            </div>
        </div>
        <div class="down">
            <a href="" class="down"></a>
        </div>
    </div>
    <div class="box-bottom clearfix">
        <a href="" class="play fl"></a>
        <a href="" class="stop fl"></a>
    </div>
</div>


